body{
    background-color: rgb(182, 175, 175);
}

h1{
    text-align: center;
}

h2{
    background-color: rgb(97, 92, 92);
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

p{
    font-size: 12px;
    display: block;
    padding-right: 150px ;
    text-align: justify;
    text-indent: 3%;
}

.imagen {
    width: 100px;
    display: block;
    float: left;
    margin-left: 100px;
}